/* ------------------------------------ *\
  #SETTINGS
\* ------------------------------------ */

// used with preprocessors and contain font, colors definitions, etc
// Font Variables
$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

// Color Variables
$background-color: #d4221c;
$text_color: #fff;
$secundary_text_color: #333;

// changing Bootstrap default values
$primary: $background-color;
